.footer-container {
    background-color: #f8f9fa;
    padding: 20px 0;
    text-align: center;
  }
  
  .footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
  }
  
  .footer-section {
    flex: 1;
    min-width: 200px;
    margin: 20px;
  }
  
  .footer-section h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  .footer-section p, .footer-section ul {
    margin: 5px 0;
  }
  
  .footer-section ul {
    list-style-type: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin: 5px 0;
  }
  
  .footer-section ul li a {
    text-decoration: none;
    color: #333;
  }
  
  .app-links img {
    width: 120px;
    margin: 10px 5px;
  }
  
  .social-links a {
    margin: 0 10px;
    font-size: 1.5em;
    color: #333;
  }
  
  .footer-bottom {
    background-color: #e9ecef;
    padding: 10px 0;
    font-size: 0.9em;
  }
  
  .footer-bottom p {
    margin: 5px 0;
  }
  
  .footer-bottom .footer-links {
    margin: 10px 0;
  }
  
  .footer-bottom .footer-links a {
    text-decoration: none;
    color: #333;
    margin: 0 5px;
  }

  .pointer{
    cursor: pointer;
  }

  .btnHover:hover{
    box-shadow: #dbd6d6 0px 7px 20px 0px;
    cursor: pointer;
  }

  .col-2 p:hover{
    color: blue !important;
  }
  
  @media (max-width: 768px) {
    .footer-content {
      flex-direction: column;
    }
  }

  @media (width < 500px) {
    .sm-mt-5{
      margin-top: 15px;
    }
    .sm-footer-text{
      font-size: 1.6vh !important;
    }
  }