<app-header></app-header>
<div class="container-fluid">
    <div class="row">
        <div class="col-11 mx-auto">
            <div class="row">
                <div class="col-md-4" style="border-right: 1px solid #E5E5E5;">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-8 mt-2">
                            <div class="row align-items-center">
                                <div class="col-6">
                                    <div class="dropdown">
                                        <button class="btn text-dark border-0 btn-outline-secondary dropdown-toggle"
                                            type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            Messages
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#">Action</a></li>
                                            <li><a class="dropdown-item" href="#">Another action</a></li>
                                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="text-center"
                                        style="background-color: #EDF2F7; border-radius: 6vh; padding: .5vh; ">
                                        <h6 class="m-0" style="font-size: 2vh;">12</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <img style="cursor: pointer;" src="assets/images/addIcon.png" class="sm-img2" alt="">
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-12">
                            <input type="text" class="w-100 form-control p-4 position-relative"
                                style="border-radius: 2vh;" placeholder="Search...">
                            <img src="assets/images/chatSearchIcon.png" class="position-absolute"
                                style="left: 3.5vh; top: 2.9vh;" alt="">
                        </div>
                    </div>

                    <div class="row mt-3 p-2" style="cursor: pointer;" *ngFor="let data of chatBox"
                        (click)="getConversation(data)" [ngClass]="{'active': selectedUser === data}">
                        <div class="col-3">
                            <img src="{{data.user_image}}" class="userImage" alt="">
                        </div>
                        <div class="col-7">
                            <h6 class="m-0">{{data.sender.name}}</h6>
                            <span>{{data.message}}</span>
                        </div>
                        <div class="col-2" style="text-align: end;">
                            <span>{{getMinutesDifference(data.updated_at)}}m</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-8" *ngIf="selectedUser">
                    <div class="row">
                        <div class="col-1">
                            <img src="{{selectedUser.img}}" class="w-100" alt="">
                        </div>
                        <div class="col-9">
                            <h6 class="m-0">{{selectedUser.name}}</h6>
                            <div class="d-flex align-items-center">
                                <img src="assets/images/chatOnline-icon.png" alt="">
                                <span style="margin-left: 5px;">Online</span>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-6 mx-auto mt-5">
                            <div class="position-relative text-center p-3"
                                style="background-color: #F3F4F5; border-radius: 15px;">
                                <img class="position-absolute" style="top: -20%; left: 40%;"
                                    src="assets/images/offer-img.png" alt="">
                                <h6 style="margin-top: 5vh;">Sent you a offer</h6>
                                <h5 style="margin-top: 3vh; font-weight: bolder;">$500</h5>
                                <div class="row mt-5">
                                    <div class="col-4">
                                        <button class="btn btn-dark w-100 sm-cat-text" style="border-radius: 3vh; font-size: 2vh;"
                                            (click)="rejectOffer()">Reject Offer</button>
                                    </div>
                                    <div class="col-4">
                                        <button class="btn btn-dark w-100 sm-cat-text" style="border-radius: 3vh; font-size: 2vh;"
                                            (click)="acceptOffer()">Accept Offer</button>
                                    </div>
                                    <div class="col-4">
                                        <button class="btn btn-dark w-100 sm-cat-text" (click)="openModal()"
                                            style="border-radius: 3vh; font-size: 2vh;">Control Offer</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div *ngFor="let row of conversationBox">
                        <div>{{row.message}}</div>
                    </div> -->
                    <div *ngFor="let message of conversationBox; let index = index">
                        <div
                            [ngClass]="{'right': currentUserid == message.sender_id, 'left': currentUserid != message.sender_id}">
                            <p>{{ message.message }}</p>
                        </div>
                    </div>
                    <div class="d-flex align-items-center" style="margin-top: 30vh; margin-bottom: 5vh;">
                        <div>
                            <img src="assets/images/attach-icon.png" alt="">
                        </div>
                        <div class="input-group" style="position: relative; margin-left: 5px;">
                            <input type="text" class="form-control w-100 p-4" style="border-radius: 10px;"
                                placeholder="Type a message" [formControl]="messageControl" (focus)="showSuggestions()"
                                (blur)="hideSuggestions()" [(ngModel)]="message" />
                            <img src="assets/images/send-icon.png"
                                style="right: 5vh; top: 2.8vh;z-index: 9999; position: absolute;" alt=""
                                (click)="sendMsg()" />
                            <div *ngIf="suggestionsVisible" class="suggestions-container">
                                <div *ngFor="let suggestion of suggestions" (click)="selectSuggestion(suggestion)"
                                    class="suggestion-box">
                                    <span style="font-size: 2.2vh;">{{ suggestion }}</span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="offerModal" tabindex="-1" role="dialog" aria-labelledby="offerModalLabel"
		aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<!-- <button type="button" class="back" (click)="back()" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button> -->
                            <h4 class="modal-title m-auto"
                                id="offerModalLabel">Control Offer</h4>
					<button type="button" class="close" (click)="closeModal()" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<!-- Modal Body -->
				<div class="modal-body ">
					<div class="row">
                        <div class="col-md-10 mx-auto mt-5">
                            <div class="position-relative text-center p-3"
                                style="background-color: #F3F4F5; border-radius: 15px;">
                                <img class="position-absolute" style="top: -20%; left: 40%;"
                                    src="assets/images/offer-img.png" alt="">
                                <h6 style="margin-top: 5vh;">Sent you a offer</h6>
                                <h5 style="margin-top: 3vh; font-weight: bolder;">$500</h5>
                                <div class="row mt-5">
                                    <div class="col-4">
                                        <button class="btn btn-dark w-100 sm-cat-text" style="border-radius: 3vh; font-size: 2vh;"
                                            (click)="rejectOffer()">Reject Offer</button>
                                    </div>
                                    <div class="col-4">
                                        <button class="btn btn-dark w-100 sm-cat-text" style="border-radius: 3vh; font-size: 2vh;"
                                            (click)="acceptOffer()">Accept Offer</button>
                                    </div>
                                    <div class="col-4">
                                        <button class="btn btn-dark w-100 sm-cat-text" (click)="openModal()"
                                            style="border-radius: 3vh; font-size: 2vh;">Control Offer</button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 mx-auto text-center mt-3">
                                        <h5>Enter Your Price</h5>
                                        <input type="text" placeholder="$60" class="form-control text-center" style="border-radius: 10px;">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 mx-auto mt-5">
                                <button class="btn btn-dark w-100" style="border-radius: 15px;">Send</button>
                            </div>
                        </div>
                    </div>
				</div>

			</div>
		</div>
	</div>