<app-header></app-header>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 col-3 mx-auto text-center">
            <!-- <img src="assets/images/profile-img1.png" class="w-100" alt=""> -->
            <!-- <img *ngIf="auctionUserList.img!=null" [src]="auctionUserList.img" class="w-100" alt=""> -->
            <h6>{{auctionUserList.name}}</h6>
            <img src="assets/images/stars.png" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col-md-5 col-10 mx-auto">
            <div class=" d-flex align-items-center justify-content-between">
                <div class="text-center">
                    <img src="assets/images/mail-icon.svg" alt="">
                    <div>
                        <h6 class="m-0 p-0 sm-cat-text1">Email</h6>
                        <h6 class="m-0 p-0 sm-cat-text1">Verified</h6>
                    </div>
                </div>
                <div class="text-center">
                    <img src="assets/images/img-icon.svg" alt="">
                    <div>
                        <h6 class="m-0 p-0 sm-cat-text1">Image</h6>
                        <h6 class="m-0 p-0 sm-cat-text1">Verified</h6>
                    </div>
                </div>
                <div class="text-center">
                    <img src="assets/images/phone-icon.svg" alt="">
                    <div>
                        <h6 class="m-0 p-0 sm-cat-text1">Phone</h6>
                        <h6 class="m-0 p-0 sm-cat-text1">Verified</h6>
                    </div>
                </div>
                <div class="text-center">
                    <img src="assets/images/join-icon.svg" alt="">
                    <div>
                        <h6 class="m-0 p-0 sm-cat-text1">Join</h6>
                        <h6 class="m-0 p-0 sm-cat-text1">TruYou</h6>
                    </div>
                </div>
                <div class="text-center" style="cursor: pointer;" (click)="openModal()">
                    <img src="assets/images/reportUser-icon.svg" alt="">
                    <div>
                        <h6 class="m-0 p-0 sm-cat-text1">Report</h6>
                        <h6 class="m-0 p-0 sm-cat-text1">User</h6>
                    </div>
                </div>
            </div>

            <div class="row mt-5 justify-content-between">
                <div class="col-md-3 col-6" (click)="setActiveTab('products')" style="cursor: pointer;"
                    [class.active-tab]="activeTab === 'products'">
                    <h3 class="sm-cat-text4">Products</h3>
                    <div *ngIf="activeTab === 'products'" class="active-line"></div>
                </div>
                <div class="col-md-3 col-6" (click)="setActiveTab('reviews')" style="cursor: pointer;"
                    [class.active-tab]="activeTab === 'reviews'">
                    <h3 class="sm-cat-text4">Review</h3>
                    <div *ngIf="activeTab === 'reviews'" class="active-line"></div>
                </div>
            </div>

            <div class="content">
                <div *ngIf="activeTab === 'products'">
                    <div class="row align-items-center mt-3" *ngFor="let data of auctionUserList.products">
                        <div class="col-md-2 col-3">
                            <img style="width: 60px;" *ngIf="data.photo[0].src != null" [src]="data.photo[0].src" alt="">
                        </div>
                        <div class="col-6">
                            <h4 class="m-0 p-0">{{data.title}}</h4>
                            <span *ngIf="data.is_sold==0">Not Sold</span>
                            <span *ngIf="data.is_sold>0">Sold</span>
                        </div>
                    </div>
                </div>

                <div *ngIf="activeTab === 'reviews'">
                    <div class="row align-items-center mt-3" *ngFor="let data of reviews">
                        <div class="col-3">
                            <img [src]="data.img" class="w-100" alt="">
                        </div>
                        <div class="col-md-7 col-8">
                            <h4 class="m-0 p-0 sm-cat-text4">{{data.name}}</h4>
                            <img [src]="data.starImg" alt="">
                            <div>
                                <span>{{data.detail}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <app-footer></app-footer>
</div>


<div class="modal fade" id="reportUserModal" tabindex="-1" role="dialog" aria-labelledby="reportUserLabel"
		aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content" style="border-radius: 3vh;">
				<div class="modal-header">
					<h4 class="modal-title"
						id="reportUserLabel">Report User</h4>
					<button type="button" class="close" (click)="closeModal()" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<!-- Modal Body -->
				<div class="modal-body ">
					<div class="form-check" *ngFor="let data of reportUser">
                        <div class="mt-3">
                            <input class="form-check-input" type="radio"
                                id="{{data.id}}">
                            <label class="form-check-label">
                                {{ data.content1}}
                            </label>
                        </div>
                    </div>
                    <textarea name="comment" id="comment" style="height: 20vh;" class="form-control w-100 mt-3">Comment</textarea>
                    <div class="row mt-3 justify-content-end">
                        <div class="col-2" style="cursor: pointer;">
                            <span>Cancel</span>
                        </div>
                        <div class="col-2" style="cursor: pointer;">
                            <span>Send</span>
                        </div>
                    </div>
				</div>

			</div>
		</div>
	</div>