// .header {
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   background-color: #fff;
//   padding: 30px 90px;
//   flex-wrap: wrap;
// }

// .logo {
//   display: flex;
//   align-items: center;
// }

// .logo-image {
//   width: 180px;
//   height: 60px;
//   margin-right: 10px;
// }

// .logo-text {
//   font-size: 20px;
//   font-weight: bold;
// }

// .search-bar {
//   display: flex;
//   align-items: center;
//   flex: 1;
//   margin: 0 20px;
//   max-width: 600px;
// }

// .search-input {
//   flex: 1;
//   padding: 10px;
//   border: 1px solid #ccc;
//   border-radius: 50px 0 0 50px;
//   outline: none;
// }

// .divider {
//   height: 24px;
//   width: 1px;
//   background-color: #ccc;
//   margin: 0 10px;
// }

// .dropdown {
//   border: none;
//   background-color: transparent;
//   font-size: 16px;
//   outline: none;
// }

// .search-button {
//   background-color: #333;
//   border: none;
//   padding: 10px 15px;
//   color: white;
//   cursor: pointer;
//   border-radius: 0 50px 50px 0;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

// .right-section {
//   display: flex;
//   align-items: center;
//   flex-wrap: wrap;
//   position: relative;
// }

// .location {
//   display: flex;
//   align-items: center;
//   margin-right: 20px;
//   color: #b6b5b5;
// }

// .location-icon {
//   width: 20px;
//   height: 20px;
//   margin-right: 5px;
// }

// .menu {
//   display: flex;
//   align-items: center;
//   margin-right: 20px;
// }

// .menu-item {
//   display: flex;
//   align-items: center;
//   margin-right: 20px;
//   text-decoration: none;
//   color: #b6b5b5;
// }

// .menu-item img {
//   width: 20px;
//   height: 20px;
//   margin-right: 5px;
// }

// .post-button {
//   background-color: #ffcc00;
//   border: none;
//   padding: 10px 20px;
//   border-radius: 50px;
//   cursor: pointer;
//   font-size: 16px;
//   margin-right: 10px;
// }

// .login-button {
//   background-color: #333;
//   color: white;
//   border: none;
//   padding: 10px 20px;
//   border-radius: 50px;
//   cursor: pointer;
//   font-size: 16px;
// }

// .menu-icon {
//   display: none;
//   cursor: pointer;
// }

// .menu-icon img {
//   width: 30px;
//   height: 30px;
// }

// .anchor-list {
//   background-color: #fff;
//   padding: 10px 0;
//   box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
// }

// .anchor-list .container {
//   display: flex;
//   justify-content: center;
// }

// .anchor-list a {
//   text-decoration: none;
//   color: #b6b5b5;
//   font-size: 16px;
//   margin: 0 15px;
//   white-space: nowrap;
// }

// @media (max-width: 768px) {
//   .header {
//     padding: 10px 20px;
//     flex-direction: column;
//   }

//   .search-bar {
//     width: 100%;
//     margin-bottom: 20px;
//   }

//   .right-section {
//     width: 100%;
//     flex-direction: column;
//     align-items: flex-start;
//   }

//   .menu {
//     display: none;
//     flex-direction: column;
//     align-items: flex-start;
//     background-color: #fff;
//     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
//     position: absolute;
//     top: 60px;
//     right: 20px;
//     padding: 10px;
//     width: calc(100% - 40px);
//   }

//   .menu-item, .post-button, .login-button {
//     margin-bottom: 10px;
//   }

//   .menu-icon {
//     display: block;
//   }

//   .menu-active {
//     display: flex;
//   }
// }
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 30px 90px;
  flex-wrap: wrap;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-image {
  width: 180px;
  height: 60px;
  margin-right: 10px;
}

.logo-text {
  font-size: 20px;
  font-weight: bold;
}

.search-bar {
  display: flex;
  align-items: center;
  flex: 1;
  width: 250px;
}

.search-input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 50px 0 0 50px;
  outline: none;
}

.border-right {
  border-right: #ccc;
  height: 40px;
}


.divider {
  height: 24px;
  width: 1px;
  background-color: #ccc;
  margin: 0 10px;
}

.dropdown {
  border: none;
  background-color: transparent;
  font-size: 16px;
  outline: none;
}

.pointer {
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 70%;
  z-index: 1000;
  display: none;
  padding: 5px;
  font-size: 1rem;
  color: #212529;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}

.dropdown-menu.show {
  display: block;
}


.search-button {
  background-color: #333;
  border: none;
  padding: 10px 15px;
  color: white;
  cursor: pointer;
  border-radius: 0 50px 50px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-section {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

.location {
  display: flex;
  align-items: center;
  margin-right: 20px;
  color: #b6b5b5;
}

.location-icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.menu {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.menu-item {
  display: flex;
  align-items: center;
  margin-right: 20px;
  text-decoration: none;
  color: #b6b5b5;
}

.menu-item img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.post-button {
  background-color: #ffcc00;
  border: none;
  padding: 10px 20px;
  border-radius: 50px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px;
}

.login-button {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 50px;
  cursor: pointer;
  font-size: 16px;
}

.menu-icon {
  display: none;
  cursor: pointer;
}

.menu-icon img {
  width: 30px;
  height: 30px;
}

.anchor-list {
  background-color: #fff;
  padding: 10px 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.anchor-list .container {
  display: flex;
  justify-content: center;
}

.container a {
  color: #636A80 !important;
  font-size: 2vh !important;
}

.container a:hover {
  color: blue !important;
}

.anchor-list a {
  text-decoration: none;
  color: #b6b5b5;
  font-size: 16px;
  margin: 0 15px;
  white-space: nowrap;
}

@media (max-width: 1024px) {
  .header {
    padding: 10px 20px;
    flex-direction: column;
  }

  .container {
    flex-direction: column;
  }

  .search-bar {
    width: 100%;
    margin-bottom: 10px;
  }

  .right-section {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
  }

  .location {
    margin-bottom: 10px;
  }

  .menu {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 60px;
    right: 20px;
    padding: 10px;
    width: calc(100% - 40px);
  }

  .menu-item,
  .post-button,
  .login-button {
    margin-bottom: 10px;
  }

  .menu-icon {
    display: block;
  }

  .menu-active {
    display: flex;
  }
}

/* login-modal.component.css */
.modal-content {
  border-radius: 20px;
  padding: 20px;
}

.modal-header {
  border-bottom: none;
  justify-content: center;
}

.modal-header .close {
  position: absolute;
  right: 35px;
}

.modal-header .back {
  position: absolute;
  left: 35px;
}

.modal-title {
  font-size: 24px;
  font-weight: bold;
}

.modal-body .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  padding: 10px 15px;
  border-radius: 10px;
}

.modal-body .btn img {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}

.modal-body p {
  font-size: 12px;
  color: #888;
}

.modal-body p a {
  color: #007bff;
  text-decoration: none;
}

.getItNow {
  color: #767E94;
  font-size: 10px;
}

.store {
  background-color: white;
  border-radius: 10px;
  border: 1px solid #EBEEF7;
}

.store:hover {
  border: none;
}

.bidButton {
  background-color: #1E293B;
  border-radius: 50px;
  color: white;
  border: none;
}

.pointer {
  cursor: pointer !important;
}

p:hover {
  color: #007bff !important;
}

.slide-menu {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.8s ease-in-out;
}

.slide-menu.open {
  max-height: 500px;
}

.scroll-container {
  display: flex;
  align-content: center;
  justify-content: center;
}



@media (width < 500px) {

  .scroll-container {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px 0;
    scrollbar-width: none;
  }

  .scroll-container::-webkit-scrollbar {
    display: none;
  }

  .scroll-container a {
    display: inline-block;
    margin-right: 3.7vh;
    color: #636A80;
    text-decoration: none;
    white-space: nowrap;
  }

  .sm-input-size {
    border-radius: 10px;
    font-size: 2vh;
    padding: 10px;
  }

  .position {
    display: flex;
  }

  .search-bar {
    width: 200px !important;
  }

  .sm-img-logo {
    width: 75px !important;
  }

  .sm-img-icon {
    width: 15px !important;
  }

  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: -4%;
    z-index: 1000;
    display: none;
    padding: 5px;
    color: #212529;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
  }
}

.userProgile {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.user-profile-container {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  display: block;
  position: absolute;
  background-color: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 0;
}

.dropdown-item {
  padding: 8px 16px;
  text-decoration: none;
  display: block;
  color: black;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #f1f1f1;
}