.sidenav-container {
    height: 100%;
    width: 300px;
  }
  
  mat-sidenav {
    padding: 20px;
  }
  
  h3 {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  mat-radio-button,
  mat-checkbox {
    display: block;
    margin-bottom: 10px;
  }
  
  mat-form-field {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .getItNow{
    color: #767E94;
    font-size: 10px;
}
.store{
    background-color: white;
    border-radius: 10px;
    border: 1px solid #EBEEF7;
    }
.store:hover{
    border: none;
}

.bidButton{
    background-color: #1E293B;
    border-radius: 50px;
    color:white;
    border:none;
  }
  .ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block; /* Ensures block-level formatting */
  }