<app-header></app-header>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-11 mx-auto">
            <div class="row mt-5">
                <div class="col-12">
                    <h3 class="sm-cat-text4" *ngIf="categorieId=='1'">Mobiles</h3>
                    <h3 class="sm-cat-text4" *ngIf="categorieId=='2'">Property for Sale</h3>
                    <h3 class="sm-cat-text4" *ngIf="categorieId=='3'">Vehicles</h3>
                    <h3 class="sm-cat-text4" *ngIf="categorieId=='4'">Property for Rent</h3>
                    <h3 class="sm-cat-text4" *ngIf="categorieId=='5'">Electronic & Appliances</h3>
                    <h3 class="sm-cat-text4" *ngIf="categorieId=='6'">Bikes</h3>
                    <h3 class="sm-cat-text4" *ngIf="categorieId=='7'">Jobs</h3>
                    <h3 class="sm-cat-text4" *ngIf="categorieId=='8'">Services</h3>
                    <h3 class="sm-cat-text4" *ngIf="categorieId=='9'">Animals</h3>
                    <h3 class="sm-cat-text4" *ngIf="categorieId=='10'">Furniture & Home</h3>
                    <h3 class="sm-cat-text4" *ngIf="categorieId=='11'">Fashion & Beauty</h3>
                    <h3 class="sm-cat-text4" *ngIf="categorieId=='12'">Kids</h3>
                </div>
                <div class="col-md-3 d-none d-md-block">
                    <div class="d-flex ">
                        <h4 class="sm-cat-text" style="color: black;">{{categories.length}} </h4><span class="sm-cat-text"
                            style="color: #636A80; margin-left: 5px;font-size: 20px;">Results Founds</span>
                    </div>

                    <!--filter side desktop view  -->
                    <div>
                        <div class="sidebar-content">
                            <div class="accordion">
                                <div class="accordion-item mt-3">
                                    <div class="accordion-header">
                                        <h6>Sub Category</h6>
                                        <img src="assets/images/up-chevron.png" alt="chevron" class="chevron-icon">
                                    </div>
                                    <div class="p-3">
                                        <div class="form-check " *ngFor="let sunCat of subCatContent">
                                            <div class="mt-3">
                                                <input class="form-check-input" type="radio" name="subCat" (change)="getSubCatProducts(sunCat.id)"
                                                    id="subCat">
                                                <label class="form-check-label" for="subCat">
                                                    {{ sunCat.name }}
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item mt-3">
                                    <div class="accordion-header">
                                        <h6>SELLER TYPE</h6>
                                        <img src="assets/images/up-chevron.png" alt="chevron" class="chevron-icon">
                                    </div>
                                    <div class="p-3">
                                        <div class="form-check " *ngFor="let seller of sellerType">
                                            <div class="mt-3">
                                                <input class="form-check-input" type="radio" name="subCat"
                                                    id="subCat">
                                                <label class="form-check-label" for="subCat">
                                                    {{ seller.id }}
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item mt-3">
                                    <div class="accordion-header">
                                        <h6>CONDITIONS</h6>
                                        <img src="assets/images/up-chevron.png" alt="chevron" class="chevron-icon">
                                    </div>
                                    <div class="p-3">
                                        <div class="form-check " *ngFor="let condtion of conditions">
                                            <div class="mt-3">
                                                <input class="form-check-input" type="radio" name="subCat"
                                                    id="subCat">
                                                <label class="form-check-label" for="subCat">
                                                    {{condtion.id}}
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="accordion-item mt-3" *ngFor="let category of subCategories; let i = index">
                                    <div class="accordion-header" (click)="toggleAccordion(i)">
                                        <h6>{{ category.title }}</h6>
                                        <img src="assets/images/up-chevron.png" alt="chevron" class="chevron-icon"
                                            [ngClass]="{'rotate': isActive(i)}">
                                    </div>
                                    <div class="accordion-body" [ngClass]="{'active': isActive(i)}">
                                        <div class="form-check" *ngFor="let content of getCategoryContents(category)">
                                            <div class="mt-3">
                                                <input class="form-check-input" type="radio" name="{{ category.id }}"
                                                    [id]="category.id + content">
                                                <label class="form-check-label" [for]="category.id + content">
                                                    {{ content }}
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                </div> -->
                            </div>

                            <!-- <div class="accordion">
                                <div class="accordion-item mt-3" *ngFor="let item of location; let i = index">
                                    <div class="accordion-header" (click)="toggleLocationAccordion(i)">
                                        <h6>{{ item.title }}</h6>
                                        <img src="assets/images/up-chevron.png" alt="chevron" class="chevron-icon"
                                            [ngClass]="{'rotate': isLocationActive(i)}">
                                    </div>
                                    <div class="accordion-body" [ngClass]="{'active': isLocationActive(i)}">
                                        <div *ngIf="i === 0" class="mt-3 position-relative">
                                            <input type="text" class="form-control" style="padding-left: 4vh;"
                                                placeholder="Cities, states & country name">
                                            <img src="assets/images/chatSearchIcon.png" class="position-absolute"
                                                style="top: 2vh; left: 1vh;" alt="">
                                        </div>
                                        <div class="form-check" *ngFor="let content of getCategoryContents(item)">
                                            <div class="mt-3">
                                                <input class="form-check-input" name="{{ item.id }}" type="checkbox"
                                                    value="" [id]="item.id + content">
                                                <label class="form-check-label" [for]="item.id + content">{{ content
                                                    }}</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> -->

                            <div class="accordion">
                                <div class="accordion-item mt-3" *ngFor="let item of locationRadius; let i = index">
                                    <div class="accordion-header" (click)="toggleRadiusAccordion(i)">
                                        <h6 class="m-0 p-0">{{ item.title }}</h6>
                                        <span class="m-0 p-0">{{ item.subTitle }}</span>
                                        <img src="assets/images/up-chevron.png" alt="chevron" class="chevron-icon"
                                            [ngClass]="{'rotate': isRadiusActive(i)}">
                                    </div>
                                    <div class="accordion-body" [ngClass]="{'active': isRadiusActive(i)}">
                                        <div *ngIf="i === 0" class="mt-3">
                                            <div style="position: relative;">
                                                <div class="progress-container">
                                                    <div class="progress-bar" [style.width.%]="progress"></div>
                                                </div>
                                                <div class="progress-dot" [style.left.%]="progress"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion">
                                <div class="accordion-item mt-3" *ngFor="let item of prices; let i = index">
                                    <div class="accordion-header" (click)="togglePriceAccordion(i)">
                                        <h6 class="m-0 p-0">{{ item.title }}</h6>
                                        <img src="assets/images/up-chevron.png" alt="chevron" class="chevron-icon"
                                            [ngClass]="{'rotate': isRadiusActive(i)}">
                                    </div>
                                    <div class="accordion-body" [ngClass]="{'active': isRadiusActive(i)}">
                                        <div *ngIf="i === 0" class="mt-3">
                                            <div class="row">
                                                <div class="col-6 position-relative">
                                                    <input type="text" class="form-control w-100 pr-5"
                                                        placeholder="150">
                                                    <span class="currency-label">USD</span>
                                                </div>

                                                <div class="col-6 position-relative">
                                                    <input type="text" class="form-control w-100 pr-5"
                                                        placeholder="670.00">
                                                    <span class="currency-label">USD</span>
                                                </div>
                                            </div>
                                            <div style="position: relative;" class="mt-3">
                                                <div class="progress-container">
                                                    <div class="progress-bar" [style.width.%]="progress"></div>
                                                </div>
                                                <div class="progress-dot" [style.left.%]="progress"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="row mt-5 sm-mt-0 align-items-center justify-content-end">
                        <div class="col-4 d-block d-md-none">
                            <div class="d-flex d-none d-md-block" style="align-items: center;">
                                <h4 class="sm-cat-text m-0 p-0" style="color: black;">574,395 </h4><span class="sm-cat-text1"
                                    style="color: #636A80; margin-left: 5px;font-size: 20px;">Results Founds</span>
                            </div>
                        </div>
                        <div class="col-5 d-none d-md-block">
                            <div class="btn-group w-100" role="group" aria-label="Basic example">
                                <button type="button" class="btn btngroup p-2"
                                    [ngClass]="{'active': activeButton === 1}" (click)="showAuction(1)"
                                    style=" border: 1px solid #9CA3AF;">
                                    Auction Products
                                </button>
                                <button type="button" class="btn btngroup p-2"
                                    [ngClass]="{'active': activeButton === 2}" (click)="showFeature(2)"
                                    style="border: 1px solid #9CA3AF;">
                                    Feature Products
                                </button>
                            </div>
                        </div>
                        <div class="col-3 sm-p-0">
                            <select class="form-select form-control w-100 sm-font" style="border-radius: 1.5vh;"
                                aria-label="Default select example">
                                <option selected value="1">Latest</option>
                                <option value="2">One</option>
                                <option value="3">Two</option>
                                <option value="4">Three</option>
                            </select>
                        </div>
                        <div class="col-3 sm-p-0">
                            <select class="form-select form-control w-100 sm-font mx-2" style="border-radius: 1.5vh;"
                                aria-label="Default select example">
                                <option selected value="1">21 per page</option>
                                <option value="2">One</option>
                                <option value="3">Two</option>
                                <option value="4">Three</option>
                            </select>
                        </div>
                        
                        <!-- for mobile view filter side  -->
                        <div class="col-2 d-block d-md-none">
                            <img (click)="openfilter()" src="assets/images/filter-icon.svg" class="w-75" alt="">
                        </div>
                        <div class="col-md-5 d-block d-md-none mt-3">
                            <div class="btn-group w-100" role="group" aria-label="Basic example">
                                <button type="button" class="btn btngroup p-2 sm-font"
                                    [ngClass]="{'active': activeButton === 1}" (click)="showAuction(1)"
                                    style=" border: 1px solid #9CA3AF;">
                                    Auction Products
                                </button>
                                <button type="button" class="btn btngroup p-2 sm-font"
                                    [ngClass]="{'active': activeButton === 2}" (click)="showFeature(2)"
                                    style="border: 1px solid #9CA3AF;">
                                    Feature Products
                                </button>
                            </div>
                        </div>
                        <!-- mobile view filter side  -->
                        <div *ngIf="show" style="background-color: #FFFFFF;" class="d-block d-md-none ">
                            <div class="accordion">
                                <!-- <div class="accordion-item mt-3" *ngFor="let category of subCategories; let i = index">
                                    <div class="accordion-header" (click)="toggleAccordion(i)">
                                        <h6>{{ category.title }}</h6>
                                        <img src="assets/images/up-chevron.png" alt="chevron" class="chevron-icon"
                                            [ngClass]="{'rotate': isActive(i)}">
                                    </div>
                                    <div class="accordion-body" [ngClass]="{'active': isActive(i)}">
                                        <div class="form-check" *ngFor="let content of getCategoryContents(category)">
                                            <div class="mt-3">
                                                <input class="form-check-input" type="radio" name="{{ category.id }}"
                                                    [id]="category.id + content">
                                                <label class="form-check-label" [for]="category.id + content">
                                                    {{ content }}
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                </div> -->
                                <div class="accordion-item mt-3">
                                    <div class="accordion-header">
                                        <h6>Sub Category</h6>
                                        <img src="assets/images/up-chevron.png" alt="chevron" class="chevron-icon">
                                    </div>
                                    <div class="accordion-body">
                                        <div class="form-check" *ngFor="let content of subCatContent">
                                            <div class="mt-3">
                                                <input class="form-check-input" type="radio" name="{{ content.name }}" 
                                                    [id]="content.name + content">
                                                <label class="form-check-label" [for]="content.name + content">
                                                    {{ content.name }}
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <!-- <div class="accordion">
                                <div class="accordion-item mt-3" *ngFor="let item of location; let i = index">
                                    <div class="accordion-header" (click)="toggleLocationAccordion(i)">
                                        <h6>{{ item.title }}</h6>
                                        <img src="assets/images/up-chevron.png" alt="chevron" class="chevron-icon"
                                            [ngClass]="{'rotate': isLocationActive(i)}">
                                    </div>
                                    <div class="accordion-body" [ngClass]="{'active': isLocationActive(i)}">
                                        <div *ngIf="i === 0" class="mt-3 position-relative">
                                            <input type="text" class="form-control" style="padding-left: 4vh;"
                                                placeholder="Cities, states & country name">
                                            <img src="assets/images/chatSearchIcon.png" class="position-absolute"
                                                style="top: 2vh; left: 1vh;" alt="">
                                        </div>
                                        <div class="form-check" *ngFor="let content of getCategoryContents(item)">
                                            <div class="mt-3">
                                                <input class="form-check-input" name="{{ item.id }}" type="checkbox"
                                                    value="" [id]="item.id + content">
                                                <label class="form-check-label" [for]="item.id + content">{{ content
                                                    }}</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> -->

                            <div class="accordion">
                                <div class="accordion-item mt-3" *ngFor="let item of locationRadius; let i = index">
                                    <div class="accordion-header" (click)="toggleRadiusAccordion(i)">
                                        <h6 class="m-0 p-0">{{ item.title }}</h6>
                                        <span class="m-0 p-0">{{ item.subTitle }}</span>
                                        <img src="assets/images/up-chevron.png" alt="chevron" class="chevron-icon"
                                            [ngClass]="{'rotate': isRadiusActive(i)}">
                                    </div>
                                    <div class="accordion-body" [ngClass]="{'active': isRadiusActive(i)}">
                                        <div *ngIf="i === 0" class="mt-3">
                                            <div style="position: relative;">
                                                <div class="progress-container">
                                                    <div class="progress-bar" [style.width.%]="progress"></div>
                                                </div>
                                                <div class="progress-dot" [style.left.%]="progress"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion">
                                <div class="accordion-item mt-3" *ngFor="let item of prices; let i = index">
                                    <div class="accordion-header" (click)="togglePriceAccordion(i)">
                                        <h6 class="m-0 p-0">{{ item.title }}</h6>
                                        <img src="assets/images/up-chevron.png" alt="chevron" class="chevron-icon"
                                            [ngClass]="{'rotate': isRadiusActive(i)}">
                                    </div>
                                    <div class="accordion-body" [ngClass]="{'active': isRadiusActive(i)}">
                                        <div *ngIf="i === 0" class="mt-3">
                                            <div class="row">
                                                <div class="col-6 position-relative">
                                                    <input type="text" class="form-control w-100 pr-5"
                                                        placeholder="150">
                                                    <span class="currency-label">USD</span>
                                                </div>

                                                <div class="col-6 position-relative">
                                                    <input type="text" class="form-control w-100 pr-5"
                                                        placeholder="670.00">
                                                    <span class="currency-label">USD</span>
                                                </div>
                                            </div>
                                            <div style="position: relative;" class="mt-3">
                                                <div class="progress-container">
                                                    <div class="progress-bar" [style.width.%]="progress"></div>
                                                </div>
                                                <div class="progress-dot" [style.left.%]="progress"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- desktop view  -->
                    <div class="sidebar d-none d-md-block mt-5" *ngIf="activeButton != 1 && activeButton != 2">
                        <div class="content">
                            <div class="row mt-5">
                                @for (item of getDisplayedItems(); track item.id) {
                                <div class="col-md-4">
                                    <div class="card mb-2 w-100 p-2 sm-p-1" style="border-radius: 20px !important;">
                                        <div class="m-2 card border-0">
                                            <!-- <img class="position-relative" [src]="'assets/catImage/' + item.imageName"> -->
                                            <img class="position-relative" style="height: 25vh; border-radius: 2vh;"
                                                *ngIf="item.photo && item.photo.length > 0" [src]="item.photo[0].src">
                                            <!-- <img class="position-relative" style="height: 25vh; border-radius: 2vh;"
                                                *ngIf="item.photo && item.video.length > 0" [src]="item.video[0].src"> -->
                                            <div class="position-absolute bg-warning p-1 sm-cat-text"
                                                style="border-radius: 5px; top: 10px; left: 5px; cursor: pointer;">
                                                <span class="m-0 p-2">Special Offer</span>
                                            </div>
                                            <div class="position-absolute"
                                                style="top: 10px; right: 5px; cursor: pointer;">
                                                <img src="assets/images/fav.png" class="sm-img2" alt="">
                                            </div>
                                            <div class="d-flex justify-content-between mt-2 sm-cat-text">
                                                <b style="text-align: left;">{{item.price}}</b>
                                                <div style="background-color: #FFD33C; border-radius: 5px;">
                                                    <span class="p-1">01: 23s remaining</span>
                                                </div>
                                            </div>
                                            <span class="ellipsis sm-cat-text1"
                                                style="text-align: left; font-size: 15px;">{{item.title}}</span>
                                            <div class="p-2 d-flex" style="font-size: 12px;">
                                                <div class="d-flex align-items-center sm-cat-text1"
                                                    style="margin-right: 15px;">
                                                    <img src="assets/images/date.svg" class="w-75" alt=""><span
                                                        style="margin-left: 5px;">{{item.year}}</span>
                                                </div>
                                                <div class="d-flex align-items-center sm-cat-text1"
                                                    style="margin-right: 15px;">
                                                    <img src="assets/images/km.svg" class="w-75" alt=""><span
                                                        style="margin-left: 5px;">{{item.km}}</span>
                                                </div>
                                                <div class="d-flex align-items-center sm-cat-text1"
                                                    style="margin-right: 15px;">
                                                    <img src="assets/images/petrol.svg" class="w-75" alt=""><span
                                                        class="sm-cat-text1"
                                                        style="margin-left: 5px;">{{item.petrol}}</span>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="d-flex">
                                                        <img src="assets/images/location.svg" style="width: 8%"
                                                            alt=""><span
                                                            style="font-size: 1.7vh; margin-left: 5px;">{{item.location}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <a href="/auctionProduct/{{item.id}}" type="submit"
                                                class="bidButton p-2 mt-3">Bid
                                                Now</a>
                                        </div>
                                    </div>
                                </div>
                                }
                            </div>
                        </div>
                    </div>
                    <!-- desktop view auction product  -->
                    <div class="sidebar mt-5 d-none d-md-block" *ngIf="activeButton === 1">
                        <div class="content">
                            <div class="row mt-3">
                                <div class="col-md-4" *ngFor="let item of auction; trackBy: trackById">
                                    <div class="card mb-2 w-100 p-2" style="border-radius: 20px !important;">
                                        <div class="m-2 card border-0">
                                            <img class="position-relative" style="height: 25vh; border-radius: 2vh;"
                                                *ngIf="item.photo && item.photo.length > 0" [src]="item.photo[0].src">
                                            <!-- <img class="position-relative" style="height: 25vh; border-radius: 2vh;"
                                                *ngIf="item.photo && item.video.length > 0" [src]="item.video[0].src"> -->
                                            <div class="position-absolute bg-warning p-1"
                                                style="border-radius: 5px; top: 10px; left: 5px;">
                                                <!-- <span class="m-0 p-2">Special Offer</span> -->
                                            </div>
                                            <div class="position-absolute" style="top: 10px; right: 5px;">
                                                <img *ngIf="item.wishlist.length<=0" src="assets/images/fav.png" alt=""
                                                    (click)="addWishLst(item)">
                                                <img *ngIf="item.wishlist.length>0" src="assets/images/fav-added.png"
                                                    alt="" (click)="removeWishLst(item)">
                                            </div>
                                            <div class="d-flex justify-content-between mt-2">
                                                <b style="text-align: left;">{{item.price}}</b>
                                                <div style="background-color: #FFD33C; border-radius: 5px;">
                                                    <span class="p-1">01: 23s remaining</span>
                                                </div>
                                            </div>
                                            <span class="ellipsis"
                                                style="text-align: left; font-size: 15px;">{{item.title}}</span>
                                            <div class="p-2 d-flex" style="font-size: 12px;">
                                                <div class="d-flex align-items-center" style="margin-right: auto;">
                                                    <img src="assets/images/date.svg" alt=""><span
                                                        style="margin-left: 5px;">{{item.year}}</span>
                                                </div>
                                                <div class="d-flex align-items-center" style="margin-right: auto;">
                                                    <img src="assets/images/km.svg" alt=""><span
                                                        style="margin-left: 5px;">{{item.km}}</span>
                                                </div>
                                                <div class="d-flex align-items-center" style="margin-right: auto;">
                                                    <img src="assets/images/petrol.svg" alt=""><span
                                                        style="margin-left: 5px;">{{item.petrol}}</span>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="d-flex">
                                                        <img src="assets/images/location.svg" style="width: 8% "
                                                            alt=""><span
                                                            style="font-size: 1.7vh; margin-left: 5px;">{{item.location}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <a href="/auctionProduct/{{item.id}}" type="submit"
                                                class="bidButton p-2 mt-3">Bid Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- desktop view feature product  -->
                    <div class="sidebar mt-5 d-none d-md-block" *ngIf="activeButton === 2">
                        <div class="content">
                            <div class="row mt-3">
                                <div class="col-md-4" *ngFor="let item of feature; trackBy: trackById">
                                    <a style="text-decoration: none; color: #1E293B;"
                                        href="/productDetails/{{item.id}}">
                                        <div class="card mb-2 p-2 w-100" style="border-radius: 20px !important;">
                                            <div class="m-2 card border-0">
                                                <img class="position-relative" style="height: 25vh; border-radius: 2vh;"
                                                    *ngIf="item.photo && item.photo.length > 0"
                                                    [src]="item.photo[0].src">
                                                <!-- <img class="position-relative" style="height: 25vh; border-radius: 2vh;"
                                                    *ngIf="item.photo && item.video.length > 0"
                                                    [src]="item.video[0].src"> -->
                                                <div class="position-absolute bg-warning p-1"
                                                    style="border-radius: 5px; top: 10px; left: 5px;">
                                                    <!-- <span class="m-0 p-2">Special Offer</span> -->
                                                </div>
                                                <div class="position-absolute" style="top: 10px; right: 5px;">
                                                    <img *ngIf="item.wishlist.length<=0" src="assets/images/fav.png"
                                                        alt="" (click)="addWishLst(item)">
                                                    <img *ngIf="item.wishlist.length>0"
                                                        src="assets/images/fav-added.png" alt=""
                                                        (click)="removeWishLst(item)">
                                                </div>
                                                <b style="text-align: left; margin-top: 5px;">{{item.price}}</b>
                                                <span class="ellipsis"
                                                    style="text-align: left; font-size: 15px;">{{item.title}}</span>
                                                <div class="p-2 d-flex" style="font-size: 12px;">
                                                    <div class="d-flex align-items-center" style="margin-right: auto;">
                                                        <img src="assets/images/date.svg" alt=""><span
                                                            style="margin-left: 5px;">{{item.year}}</span>
                                                    </div>
                                                    <div class="d-flex align-items-center" style="margin-right: auto;">
                                                        <img src="assets/images/km.svg" alt=""><span
                                                            style="margin-left: 5px;">{{item.km}}</span>
                                                    </div>
                                                    <div class="d-flex align-items-center" style="margin-right: auto;">
                                                        <img src="assets/images/petrol.svg" alt=""><span
                                                            style="margin-left: 5px;">{{item.petrol}}</span>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div class="d-flex">
                                                            <img src="assets/images/location.svg" style="width: 8%"
                                                                alt=""><span
                                                                style="font-size: 1.7vh; margin-left: 5px;">{{item.location}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                     <!-- mobile view auction product  -->
                     <div class="mt-5 d-block d-md-none" *ngIf="activeButton === 1">
                        <div class="content">
                            <div class="row mt-3">
                                <div class="col-md-4" *ngFor="let item of auction; trackBy: trackById">
                                    <div class="card mb-2 w-100 p-2" style="border-radius: 20px !important;">
                                        <div class="m-2 card border-0">
                                            <img class="position-relative" style="height: 25vh; border-radius: 2vh;"
                                                *ngIf="item.photo && item.photo.length > 0" [src]="item.photo[0].src">
                                            <!-- <img class="position-relative" style="height: 25vh; border-radius: 2vh;"
                                                *ngIf="item.photo && item.video.length > 0" [src]="item.video[0].src"> -->
                                            <div class="position-absolute bg-warning p-1"
                                                style="border-radius: 5px; top: 10px; left: 5px;">
                                                <!-- <span class="m-0 p-2">Special Offer</span> -->
                                            </div>
                                            <div class="position-absolute" style="top: 10px; right: 5px;">
                                                <img *ngIf="item.wishlist.length<=0" src="assets/images/fav.png" alt=""
                                                    (click)="addWishLst(item)">
                                                <img *ngIf="item.wishlist.length>0" src="assets/images/fav-added.png"
                                                    alt="" (click)="removeWishLst(item)">
                                            </div>
                                            <div class="d-flex justify-content-between mt-2">
                                                <b style="text-align: left;">{{item.price}}</b>
                                                <div style="background-color: #FFD33C; border-radius: 5px;">
                                                    <span class="p-1">01: 23s remaining</span>
                                                </div>
                                            </div>
                                            <span class="ellipsis"
                                                style="text-align: left; font-size: 15px;">{{item.title}}</span>
                                            <div class="p-2 d-flex" style="font-size: 12px;">
                                                <div class="d-flex align-items-center" style="margin-right: auto;">
                                                    <img src="assets/images/date.svg" alt=""><span
                                                        style="margin-left: 5px;">{{item.year}}</span>
                                                </div>
                                                <div class="d-flex align-items-center" style="margin-right: auto;">
                                                    <img src="assets/images/km.svg" alt=""><span
                                                        style="margin-left: 5px;">{{item.km}}</span>
                                                </div>
                                                <div class="d-flex align-items-center" style="margin-right: auto;">
                                                    <img src="assets/images/petrol.svg" alt=""><span
                                                        style="margin-left: 5px;">{{item.petrol}}</span>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="d-flex">
                                                        <img src="assets/images/location.svg" style="width: 5%"
                                                            alt=""><span
                                                            style="font-size: 1.7vh; margin-left: 5px;">{{item.location}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <a href="/auctionProduct/{{item.id}}" type="submit"
                                                class="bidButton p-2 mt-3">Bid Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- mobile view feature product  -->
                    <div class="mt-5 d-block d-md-none" *ngIf="activeButton === 2">
                        <div class="content">
                            <div class="row mt-3">
                                <div class="col-md-4" *ngFor="let item of feature; trackBy: trackById">
                                    <a style="text-decoration: none; color: #1E293B;"
                                        href="/productDetails/{{item.id}}">
                                        <div class="card mb-2 p-2 w-100" style="border-radius: 20px !important;">
                                            <div class="m-2 card border-0">
                                                <img class="position-relative" style="height: 25vh; border-radius: 2vh;"
                                                    *ngIf="item.photo && item.photo.length > 0"
                                                    [src]="item.photo[0].src">
                                                <!-- <img class="position-relative" style="height: 25vh; border-radius: 2vh;"
                                                    *ngIf="item.photo && item.video.length > 0"
                                                    [src]="item.video[0].src"> -->
                                                <div class="position-absolute bg-warning p-1"
                                                    style="border-radius: 5px; top: 10px; left: 5px;">
                                                    <!-- <span class="m-0 p-2">Special Offer</span> -->
                                                </div>
                                                <div class="position-absolute" style="top: 10px; right: 5px;">
                                                    <img *ngIf="item.wishlist.length<=0" src="assets/images/fav.png"
                                                        alt="" (click)="addWishLst(item)">
                                                    <img *ngIf="item.wishlist.length>0"
                                                        src="assets/images/fav-added.png" alt=""
                                                        (click)="removeWishLst(item)">
                                                </div>
                                                <b style="text-align: left; margin-top: 5px;">{{item.price}}</b>
                                                <span class="ellipsis"
                                                    style="text-align: left; font-size: 15px;">{{item.title}}</span>
                                                <div class="p-2 d-flex" style="font-size: 12px;">
                                                    <div class="d-flex align-items-center" style="margin-right: auto;">
                                                        <img src="assets/images/date.svg" alt=""><span
                                                            style="margin-left: 5px;">{{item.year}}</span>
                                                    </div>
                                                    <div class="d-flex align-items-center" style="margin-right: auto;">
                                                        <img src="assets/images/km.svg" alt=""><span
                                                            style="margin-left: 5px;">{{item.km}}</span>
                                                    </div>
                                                    <div class="d-flex align-items-center" style="margin-right: auto;">
                                                        <img src="assets/images/petrol.svg" alt=""><span
                                                            style="margin-left: 5px;">{{item.petrol}}</span>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div class="d-flex">
                                                            <img src="assets/images/location.svg" style="width: 5%"
                                                                alt=""><span
                                                                style="font-size: 1.7vh; margin-left: 5px;">{{item.location}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- mobile view  -->
                    <div class="d-block d-md-none" *ngIf="isAuctionProduct">
                        <div class="row mt-5 ">
                            @for (item of getDisplayedItems(); track item.id) {
                            <div class="col-6">
                                <div class="card mb-2 w-100 p-2 sm-p-1" style="border-radius: 20px !important;">
                                    <div class="m-2 card border-0">
                                        <img class="position-relative" [src]="'assets/catImage/' + item.imageName">
                                        <div class="position-absolute bg-warning p-1 sm-cat-text"
                                            style="border-radius: 5px; top: 10px; left: 5px; cursor: pointer;">
                                            <span class="m-0 p-2">Special Offer</span>
                                        </div>
                                        <div class="position-absolute" style="top: 10px; right: 5px; cursor: pointer;">
                                            <img src="assets/images/fav.png" class="sm-img2" alt="">
                                        </div>
                                        <div class="d-flex justify-content-between mt-2 sm-cat-text">
                                            <b style="text-align: left;">{{item.price}}</b>
                                            <div style="background-color: #FFD33C; border-radius: 5px;">
                                                <span class="p-1">01: 23s remaining</span>
                                            </div>
                                        </div>
                                        <span class="ellipsis sm-cat-text1"
                                            style="text-align: left; font-size: 15px;">{{item.title}}</span>
                                        <div class="p-2 d-flex" style="font-size: 12px;">
                                            <div class="d-flex align-items-center sm-cat-text1"
                                                style="margin-right: 15px;">
                                                <img src="assets/images/date.svg" class="w-25" alt=""><span
                                                    style="margin-left: 5px;">{{item.year}}</span>
                                            </div>
                                            <div class="d-flex align-items-center sm-cat-text1"
                                                style="margin-right: 15px;">
                                                <img src="assets/images/km.svg" class="w-25" alt=""><span
                                                    style="margin-left: 5px;">{{item.km}}</span>
                                            </div>
                                            <div class="d-flex align-items-center sm-cat-text1"
                                                style="margin-right: 15px;">
                                                <img src="assets/images/petrol.svg" class="w-25" alt=""><span
                                                    class="sm-cat-text1"
                                                    style="margin-left: 5px;">{{item.petrol}}</span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="d-flex">
                                                    <img src="assets/images/location.svg" style="width: 8%" alt=""><span
                                                        class="sm-cat-text1"
                                                        style="font-size: 1.7vh; margin-left: 5px;">{{item.location}}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <a href="/productDetails" type="submit"
                                            class="bidButton p-2 mt-3 sm-cat-text1">Bid
                                            Now</a>
                                    </div>
                                </div>
                            </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <hr>
        </div>
    </div>
    <app-footer></app-footer>
</div>