  .main-image-container {
    position: relative;
  }
  
  .main-image {
    width: 100%;
    height: auto;
  }
  
  .thumbnail-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
  }
  
  .thumbnail-row {
    display: flex;
    align-items: center;
  }
  
  .thumbnail-item {
    margin: 0 5px;
  }
  
  .thumbnail-image {
    width: 80px;
    height: 60px;
    cursor: pointer;
    border: 2px solid transparent;
  }
  
  .thumbnail-image.selected {
    border-color: #007bff;
  }
  
  .carousel-control-prev,
  .carousel-control-next {
    background-color: #CDFFF2;
    border: none;
    border-radius: 48px;
    cursor: pointer;
    align-items: center;
    height: 50px;
    width: 50px;
    padding: 15px;
  }
  
  .carousel-control-prev {
    margin-right: 10px;
  }
  
  .carousel-control-next {
    margin-left: 10px;
  }
  
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    width: 20px;
    height: 20px;
    background-size: 100%, 100%;
  }
