.getItNow{
    color: #767E94;
    font-size: 10px;
}
.store{
    background-color: white;
    border-radius: 10px;
    border: 1px solid #EBEEF7;
    }
.store:hover{
    border: none;
}

.aHover:hover{
  color: blue !important;
}
.bidButton{
    background-color: #1E293B;
    border-radius: 50px;
    color:white;
    border:none;
  }
  
  .pointer{
    cursor: pointer !important;
  }

  .ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
  }

