.carousel-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
.bidButton{
  background-color: #1E293B;
  border-radius: 50px;
  color:white;
  border:none;
}
.carousel-cell {
  min-width: 20%; /* 5 cells means each cell takes 20% width */
  box-sizing: border-box;
}

.carousel-cell img {
  width: 100%;
  display: block;
}

.carouselButton {
  position: absolute;
  right: 0;
  transform: translateY(-50%);
  background-color: transparent;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

button.left {
  left: 10px;
}

button.right {
  right: 10px;
}
