.onHover:hover{
    background-color: #E1FFF7;
}
.pointer{
    cursor: pointer;
}
.btn-group{
    background-color: transparent !important;
    color: black;
}
.btngroup.active {
    background-color: #343a40; 
    color: white;
}

.active {
    background-color: #E1FFF7;
}

.textHover:hover{
    color: blue !important;
  }

  .btnHover:hover{
    box-shadow: #dbd6d6 0px 7px 20px 0px;
    cursor: pointer;
  }

  .container {
    max-width: 600px;
    margin: auto;
  }
  
  .img-thumbnail {
    display: block;
    margin-top: 20px;
  }
  .selected {
    border: 2px solid blue;
  }
  
.sidebar {
  height: 40%; 
  overflow-y: auto;
}

.sidebar-content {
  padding: 20px;
  width: 99%;
}

::-webkit-scrollbar {
  width: 8px; 
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #88888884; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}


.image {
  width: 100%;
  border: 2px solid purple; /* Adjust border color and thickness as needed */
  width: 100px;
  height: 100px;
}

.delete-button {
  position: absolute;
  top: 0px; /* Adjust as needed */
  right: 0px; /* Adjust as needed */
  background-color: transparent;
  border: none;
  color: black;
  font-size: 1.5em; /* Adjust size as needed */
  cursor: pointer;
}

.delete-button:hover {
  color: red; /* Change color on hover */
}

.success-snackbar {
  background-color: green;
  color: white;
}
.sellingImg{
  width: 100px;
  height: 100px;
  border-radius: 20px;
}
.userNotificationImage{
  width: 20px;
  height: 20px;
  border-radius: 100px;
}